*{
  background-color:white;
}
.parent h1{
    color:black;
    font-weight: lighter;
    font-size:50px;
    text-align: center;
}
.son img{
    width:30%;
    height:auto;
    margin-right:30px;
    border:1px solid darkgreen;
}
p1{
    font-size:20px;
    font-weight: bold;
    width:30%;
    margin-left: 150px;
    margin-right:300px;
    text-align: center;
}
p2{
    font-size:20px;
    font-weight: bold;
    width:30%;
    margin-right:300px;
    text-align: center;
}
p3{
    font-size:20px;
    font-weight: bold;
    width:30%
}
p4{
    font-size:15px;
    font-weight: lighter;
    width:30%;
    margin-left: 150px;
    margin-right: 300px;
    text-align: center;
}
p5{
    font-size:15px;
    font-weight: lighter;
    width:30%;
    margin-right:300px;
    text-align: center;
}