
*{
    background-color: beige;
}
.parent img{
    width:30%;
    height:100%;
    float:right;
}
h1{
    color:green;
    font-size: 60px;
    font-weight:lighter;
    font-style: italic;
    text-align: center;
}
h2{
    color:green;
    font-weight:lighter;
    font-size: 60px;
    text-align: left;
}
h3{
    color:brown;
    font-weight:15px;
    font-size:30px;
    font-style: italic;
}
.son{
    width:50%;
    height:auto;
    float:left;
}
.daughter{
    font-size:15px;
    width:70%;
    height:auto;
    float:left;
    position: relative;
}

.daughter img{
    width:200px;
    height:auto;
    float:left;
}
