
.parent h1{
    width:100%;
    height:10%;
    color:black;
    font-weight:lighter;
    font-size:50px;
    font-family: 'Domine', serif;
    text-align: center;
}
.img{
    width:25%;
    height:100%;
    float:left;
}
.second img{
    width:25%;
    height:100;
    
}
.third img{
    width:25%;
    height:100%;
    float:right;
}
.flex{
    width:100%;
    background-color: white;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap:5%;
}
.box{
    width:25%;
    height:25%;
}
.box1 img{
    width:100%;
    height:auto;
}
.box2 img{
    width:100%;
    height:auto;
    
}
.box3 img{
    width:100%;
    height:auto;
}
p1{
    font-weight: bold;
    text-align:center;
}
p2{
    font-weight: lighter;
    font-style: italic;
}
p3{
    font-weight: bold;
    text-align:center;
}
p4{
    font-weight: lighter;
    font-style: italic;
}
p5{
    font-weight: bold;
    text-align:center;
}
p6{
    font-weight: lighter;
    font-style: italic;
}
/*mobile device*/
@media (min-width:481px) and (max-width:768px){
    .parent h1{
        width:100%;
        height:10%;
        color:black;
        font-weight:lighter;
        font-size:50px;
        font-family: 'Domine', serif;
        text-align: center;
    }
    .img{
        width:25%;
        height:100%;
        float:left;
    }
    .second img{
        width:25%;
        height:100;
        
    }
    .third img{
        width:25%;
        height:100%;
        float:right;
    }
    .flex{
        width:100%;
        background-color: white;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        gap:5%;
    }
    .box{
        width:25%;
        height:25%;
    }
    .box1 img{
        width:100%;
        height:auto;
    }
    .box2 img{
        width:100%;
        height:auto;
        
    }
    .box3 img{
        width:100%;
        height:auto;
    }
    p1{
        font-weight: bold;
        text-align:center;
    }
    p2{
        font-weight: lighter;
        font-style: italic;
    }
    p3{
        font-weight: bold;
        text-align:center;
    }
    p4{
        font-weight: lighter;
        font-style: italic;
    }
    p5{
        font-weight: bold;
        text-align:center;
    }
    p6{
        font-weight: lighter;
        font-style: italic;
    }
}

/*laptop device*/
@media (min-width:769px) and (max-width:1024px){
    .parent h1{
        width:100%;
        height:10%;
        color:black;
        font-weight:lighter;
        font-size:50px;
        font-family: 'Domine', serif;
        text-align: center;
    }
    .img{
        width:25%;
        height:100%;
        float:left;
    }
    .second img{
        width:25%;
        height:100;
        
    }
    .third img{
        width:25%;
        height:100%;
        float:right;
    }
    .flex{
        width:100%;
        background-color: white;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        gap:5%;
    }
    .box{
        width:25%;
        height:25%;
    }
    .box1 img{
        width:100%;
        height:auto;
    }
    .box2 img{
        width:100%;
        height:auto;
        
    }
    .box3 img{
        width:100%;
        height:auto;
    }
    p1{
        font-weight: bold;
        text-align:center;
    }
    p2{
        font-weight: lighter;
        font-style: italic;
    }
    p3{
        font-weight: bold;
        text-align:center;
    }
    p4{
        font-weight: lighter;
        font-style: italic;
    }
    p5{
        font-weight: bold;
        text-align:center;
    }
    p6{
        font-weight: lighter;
        font-style: italic;
    }
}